- content_for :system do
  %li
    = t "help.system"
- content_for :stay do
  %li 
    = t "help.stay.los"
  %li 
    = t "help.stay.adm"
- content_for :patient_data do
  %li
    = t "help.patient_data.age"
  %li
    = t "help.patient_data.weight"
  %li
    = t "help.patient_data.sex"
  %li
    = t "help.patient_data.hmv"
- content_for :pdx do
  %li
    = t "help.pdx"
- content_for :diagnoses do
  %li
    = t "help.diagnoses.pre_+"
    = image_tag "bullet_toggle_plus.png"
    = t "help.diagnoses.post_+"
  %li
    = t "help.diagnoses.pre_-"
    = image_tag "bullet_toggle_minus.png"
    = t "help.diagnoses.post_-"
- content_for :procedures do
  %li
    = t "help.procedures.pre_+"
    = image_tag "bullet_toggle_plus.png"
    = t "help.procedures.post_+"
    = image_tag "bullet_toggle_minus.png"
    = t "help.procedures.post_-"
- content_for :other do
  %li
    = t "help.other.group"
  %li  
    = t "help.other.invalid"
  %li
    = t "help.other.clear_form"
