- necessary_rows = [(@webgrouper_patient_case.diagnoses.size / 5).ceil, 1].max
- count = 0
- necessary_rows.times do |row|
  .diagnoses_row
    .sameline
      = row > 0 ? content_tag(:label, '') : ''
      - 5.times do
        %span.field
          = autocomplete_field_tag "webgrouper_patient_case[diagnoses][]",
                            '',
                            autocomplete_Icd_code_webgrouper_patient_cases_path(system_id: @webgrouper_patient_case.system_id),
                            class: 'autocomplete small_field diagnosis',
                            id: "webgrouper_patient_case_diagnoses_#{count}",
                            value: @webgrouper_patient_case.diagnoses[count]
          - count += 1
          %span.spacer
          %span.splitter
      .spacer
      .diagnoses_buttons
        = image_tag('bullet_toggle_plus.png',  id: 'add_diagnoses_row')
        = image_tag('bullet_toggle_minus.png', id: 'remove_diagnoses_row')