- necessary_rows = [(@webgrouper_patient_case.diagnoses.size.to_f / 5).ceil, 1].max
- count = 0
- necessary_rows.times do |row|
  .diagnoses_row
    = row > 0 ? content_tag(:label, '') : ''
    .sameline
      - 5.times do
        %span.field{class: ('field_with_errors' if @webgrouper_patient_case.diagnoses_errors[count])}
          = autocomplete_field_tag "webgrouper_patient_case[diagnoses][]",
                            @webgrouper_patient_case.diagnoses[count],
                            autocomplete_icd_code_path(version: @webgrouper_patient_case.system.icd_version),
                            class: 'autocomplete small_field diagnosis',
                            id: "webgrouper_patient_case_diagnoses_#{count}"
          - count += 1
        .spacer
      .spacer
      - if row == 0
        .dynamic_field_buttons
          = image_tag('bullet_toggle_plus.png',  class: 'add_diagnoses_row')
          = image_tag('bullet_toggle_minus.png', class: 'remove_diagnoses_row')