- necessary_rows = [(@webgrouper_patient_case.procedures.size.to_f / 3).ceil, 1].max
- count = 0
- necessary_rows.times do |row|
  .procedures_row
    = row > 0 ? content_tag(:label, '') : ''
    .sameline
      - 3.times do
        %span.field
          - procedure_hash = @webgrouper_patient_case.procedures[count] || {}
          = autocomplete_field_tag 'webgrouper_patient_case[procedures][][c]',
                                 procedure_hash['c'],
                                 autocomplete_chop_code_path(version: @webgrouper_patient_case.system.chop_version),
                                 :class => 'autocomplete small_field inc_clone_id',
                                 :id => "webgrouper_patient_case_procedures_#{count}_c"
          = select_tag 'webgrouper_patient_case[procedures][][l]',
                            options_for_select(["", "R", "L", "B"], procedure_hash['l']),
                            :class => 'tiny_field',
                            :id => "webgrouper_patient_case_procedures_#{count}_l"
          = text_field_tag 'webgrouper_patient_case[procedures][][d]',
                           procedure_hash['d'],
                           :class => 'small_field date_picker',
                           :id => "webgrouper_patient_case_procedures_#{count}_d"
          - count += 1
      - if row == 0
        .spacer
        .dynamic_field_buttons
          = image_tag('bullet_toggle_plus.png',  class: 'add_procedures_row')
          = image_tag('bullet_toggle_minus.png', class: 'remove_procedures_row')