= content_for :header do
  = javascript_include_tag 'https://www.google.com/jsapi'
  = javascript_include_tag 'webgrouper'

= render "shared/error_messages", :errors => @webgrouper_patient_case.errors

= simple_form_for @webgrouper_patient_case, url: webgrouper_patient_cases_path,
                  defaults: { placeholder: false, hint: false } do |f|
  = render 'shared/system', :f => f,
                            :current_system => @webgrouper_patient_case.system,
                            :house => @webgrouper_patient_case.house
  .on-row
    %fieldset#stay.left
      %legend= t("fieldsets.stay")
      = f.input :entry_date, 
                :input_html => { :title => t("simple_form.hints.webgrouper_patient_case.date"), :class => "date_picker calc_los" }
      = f.input :exit_date, 
                :input_html => { :title => t("simple_form.hints.webgrouper_patient_case.date"), :class => "date_picker calc_los" }
      = f.input :leave_days, 
                :input_html => { :class => "calc_los numeric" }
      = f.input :adm, 
                :as => :select, 
                :include_blank => false,
                :collection => ["11", "01", "06", "99"],
                :label_method => lambda { |el| t "simple_form.options.webgrouper_patient_case.adm.adm#{el}" }
      = f.input :sep, 
                :as => :select, 
                :include_blank => false,
                :collection => ["06","04","00","07","99"],
                :label_method => lambda { |el| t "simple_form.options.webgrouper_patient_case.sep.sep#{el}" }
      = f.input :los,
                :input_html => { :class => "numeric" }
  
    %fieldset#patient-data.right
      %legend= t("fieldsets.patient_data")
      = f.input :sex, 
                :collection => [:M , :W, :U], 
                :checked => :U, 
                :include_blank => false
      = f.input :birth_date, 
                :input_html => { :title => t("simple_form.hints.webgrouper_patient_case.date"), :class => "date_picker" }
      .sameline
        = f.input :age,
                  :input_html => { :class => "numeric" }
        = f.input :age_mode_decoy,
                  :as => :select, 
                  :collection => [:years, :days],
                  :include_blank => false, 
                  :input_html => { :onchange => "admWeightControl(80)"},
                  :label => false
        / hidden field which contains the real value for age_mode in case age_mode_decoy is disabled
        = f.input :age_mode,
                  :as => :hidden, 
                  :collection => [:years, :days],
                  :include_blank => false, 
                  :input_html => { :onchange => "admWeightControl(80)"},
                  :label => false
      = f.input :hmv,
                :input_html => { :class => "numeric" }
      #admWeight
        = f.input :adm_weight,
                  :input_html => { :class => "numeric" }

  %fieldset#drg-proc
    %legend= t("fieldsets.diagnoses_procedures")
    #diagnoses
      = f.input :pdx, 
                :url => autocomplete_icd_code_path(version: @webgrouper_patient_case.system.icd_version),
                :as => :autocomplete
      %label{:for => 'webgrouper_patient_case_diagnoses_0'}
        = t('simple_form.labels.defaults.diagnoses')  # hardcoded, since its generated via js
      = render "diagnoses", :patient_case => @webgrouper_patient_case
    %p
    #procedures
      %label{:for => 'webgrouper_patient_case_procedures_0_c'}
        = t('simple_form.labels.defaults.procedures')   # hardcoded, since its generated via js
      = render "procedures", :patient_case => @webgrouper_patient_case
  .buttons 
    .right
      - unless @result.nil?
        = link_to t('helpers.submit.webgrouper_patient_case.save_case_as_bookmark'),
                   parse_url_for(@webgrouper_patient_case),
                   :class => 'button jQueryBookmark',
                   :title => "Webgrouper: #{@webgrouper_patient_case.pdx} #{Drg.get_description_for(@webgrouper_patient_case.system_id, @result.drg)}"
        = link_to image_tag('printer.png') + t('helpers.submit.webgrouper_patient_case.print_result'),
                  'javascript:printResult()', :class => 'button'
      = link_to t("help.show_help"), help_url, :class => 'button', :method => :get
      = link_to t("helpers.submit.webgrouper_patient_case.clear_form"), 
              webgrouper_patient_cases_path, 
              :class => "button negative", 
              :method => :get
      = f.submit :class => "button positive"
- if @result.nil? || @result.getGst.nil?         
  .bottom-spacer
- else  
  #result
    .on-row
      = render "webgrouper_patient_cases/result/grouping"
      - if normal_group?
        = render "webgrouper_patient_cases/result/cost_weight"
    - if normal_group?
      = render "webgrouper_patient_cases/result/diagnoses"
      = render "webgrouper_patient_cases/result/procedures"
      = render "webgrouper_patient_cases/result/settlement_hints"
      .on-row
        = render "webgrouper_patient_cases/result/length_of_stay"
        = render "webgrouper_patient_cases/result/los_chart"
    #bottom


