%h2 
  = t("Help")
= render :partial => 'help/help_contents'
#accordion
  %h3
    = link_to(t("fieldsets.system") + ": ", '#')
  %div
    = yield :system
  %h3
    = link_to(t("fieldsets.stay") + ": ", '#')  
  %div
    = yield :stay
  %h3
    = link_to(t("fieldsets.patient_data") + ": ", '#')
  %div
    = yield :patient_data
  %h3
    = link_to(t("simple_form.labels.webgrouper_patient_case.pdx"), '#')
  %div
    = yield :pdx
  %h3
    = link_to(t( "simple_form.labels.webgrouper_patient_case.diagnoses"), '#')
  %div
    = yield :diagnoses
  %h3
    = link_to(t("simple_form.labels.webgrouper_patient_case.procedures"), '#')
  %div
    = yield :procedures
  %h3
    = link_to t ("other"), '#'
  %div
    = yield :other