= stylesheet_link_tag 'help'
%table
  = render :partial => 'help/help_contents'
  %tr
    %th 
      = t("fieldsets.system") + ": "
    %td 
      = yield :system
  %tr
    %th
      = t("fieldsets.stay") + ": "
    %td
      = yield :stay
  %tr
    %th
      = t("fieldsets.patient_data") + ": "
    %td
      = yield :patient_data
  %tr
    %th
      = t "simple_form.labels.webgrouper_patient_case.pdx"
    %td
      = yield :pdx
  %tr
    %th
      = t "simple_form.labels.webgrouper_patient_case.diagnoses"
    %td
      = yield :diagnoses
  %tr
    %th
      = t "simple_form.labels.webgrouper_patient_case.procedures"
    %td
      = yield :procedures
  %tr
    %th
      = t "other"
    %td
      = yield :other