= render "shared/error_messages", :webgrouper_patient_case => @webgrouper_patient_case 

= simple_form_for @webgrouper_patient_case, :url => :create_query, :method => :post do |f|
  = render "shared/system", :f => f, :system_id => @webgrouper_patient_case.system_id, :house => @webgrouper_patient_case.house
  .on-row
    %fieldset#stay.left
      %legend= t("fieldsets.stay")
      = f.input :entry_date, 
                :input_html => { :title => t("simple_form.hints.webgrouper_patient_case.date"), :class => "date_picker calc_los" }
      = f.input :exit_date, 
                :input_html => { :title => t("simple_form.hints.webgrouper_patient_case.date"), :class => "date_picker calc_los" }
      = f.input :leave_days, 
                :input_html => { :class => "calc_los numeric" }
      = f.input :adm, 
                :as => :select, 
                :include_blank => false,
                :collection => ["11", "00", "06", "99"],
                :label_method => lambda { |el| t "simple_form.options.webgrouper_patient_case.adm.adm#{el}" }
      = f.input :sep, 
                :as => :select, 
                :include_blank => false,
                :collection => ["06","04","00","07","99"],
                :label_method => lambda { |el| t "simple_form.options.webgrouper_patient_case.sep.sep#{el}" }
      = f.input :los,
                :input_html => { :class => "numeric" }
  
    %fieldset#patient-data.right
      %legend= t("fieldsets.patient_data")
      = f.input :sex, 
                :collection => [:M , :W, :U], 
                :checked => :U, 
                :include_blank => false
      = f.input :birth_date, 
                :input_html => { :title => t("simple_form.hints.webgrouper_patient_case.date"), :class => "date_picker" }
      .sameline
        = f.input :age,
                  :input_html => { :class => "numeric" }
        = f.input :age_mode_decoy,
                  :as => :select, 
                  :collection => [:years, :days],
                  :include_blank => false, 
                  :input_html => { :onchange => "admWeightControl(80)"},
                  :label => false
        / hidden field which contains the real value for age_mode in case age_mode_decoy is disabled
        = f.input :age_mode,
                  :as => :hidden, 
                  :collection => [:years, :days],
                  :include_blank => false, 
                  :input_html => { :onchange => "admWeightControl(80)"},
                  :label => false
      = f.input :hmv,
                :input_html => { :class => "numeric" }
      #admWeight
        = f.input :adm_weight,
                  :input_html => { :class => "numeric" }

  %fieldset#drg-proc
    %legend= t("fieldsets.diagnoses_procedures")
    :javascript
      set_diagnoses_buttons("#{escape_javascript(add_button('diagnoses'))}", "#{escape_javascript(remove_button('diagnoses'))}")
      set_procedures_buttons("#{escape_javascript(add_button('procedures'))}", "#{escape_javascript(remove_button('procedures'))}")
    #diagnoses
      = f.input :pdx, 
                :url => autocomplete_Icd_code_webgrouper_patient_cases_path(:system_id => @webgrouper_patient_case.system_id), 
                :as => :autocomplete
      = f.label "diagnoses"
      = render "shared/diagnoses", :patient_case => @webgrouper_patient_case
    %p
    #procedures
      = f.label "procedures"
      = render "shared/procedures", :patient_case => @webgrouper_patient_case
  .buttons 
    .right
      = link_to t("help.show_help"), help_url, :class => 'button', :method => :get
      = link_to t("helpers.submit.webgrouper_patient_case.clear_form"), 
              webgrouper_patient_cases_path, 
              :class => "button negative", 
              :method => :get
      = f.submit :class => "button positive"
- if @result.nil? || @result.getGst.nil?         
  .bottom-spacer
- else  
  = render "result/main" 
