%h1 Webgrouper

= render "shared/error_messages", :webgrouper_patient_case => @webgrouper_patient_case

= simple_form_for @webgrouper_patient_case do |f|
  %fieldset
    System stuff
  %fieldset
    = f.input :sex, :collection => [:M , :W, :U], :checked => :U, :include_blank => false
    .sameline
      = f.input :age
      = f.input :age_mode, :as => :select, :collection => [:years, :days], :include_blank => false, :input_html => { :onchange => "admWeightControl(500)" }
    = f.input :birth_date, :input_html => { :class => "date_picker" }
    #admWeight
      = f.input :adm_weight
  %fieldset 
    = f.input :entry_date, :input_html => { :class => "date_picker calc_los" }
    = f.input :exit_date, :input_html => { :class => "date_picker calc_los" }
    = f.input :leave_days, :input_html => { :class => "calc_los" }
    = f.input :adm, :as => :select, :collection => [[t(:adm11) ,"11"], [t(:adm00), "00"], [t(:adm06), "06"], [t(:adm99), "99"]], :include_blank => false
    = f.input :sep, :as => :select, :collection => [[t(:sep06) ,"06"], [t(:sep04), "04"], [t(:sep00), "00"], [t(:sep07), "07"], [t(:sep99), "99"]], :include_blank => false
    = f.input :los
  %fieldset
    = f.input :hmv
    = f.input :pdx
    = f.input :diagnoses
    = f.input :procedures
  = f.submit
  
%h2 Gruppierung
%p= @result