.header
%h3
  = t "tos.header"
%h4
  = t "tos.date"
%hr
%p
  .important
    %h3
      = t "tos.accept_tos"
      %h4
        = t "tos.confirm_read"
%p
  %h4
    %p.spacer
      = t "tos.preambel.header"
  %p
    = t "tos.preambel.p1"
  %p
    = t "tos.preambel.p2"
  %p
    = t "tos.preambel.p3"
    %span.bold.underlined
      = t "tos.preambel.in_ch"
      = t "tos.preambel.for_testing"
    = t "tos.preambel.p4"
%table
  %tr.underlined
    %td
      %h4
        1.
    %td
      %h4
        = t "tos.group_right.header"
  %tr
    %td
      (1)
    %td
      = t "tos.group_right.p1"
  %tr
    %td
      (2)
    %td
      = t "tos.group_right.p2"
  %tr
    %td
      (3)
    %td
      = t "tos.group_right.p3"
  %tr
    %td
      (4)
    %td
      = t "tos.group_right.p4"
%table
  %tr.underlined
    %td
      %h4
        2.
    %td
      %h4
        = t "tos.data_security.header"
  %tr
    %td
      (1)
    %td
      = t "tos.data_security.p1"
  %tr
    %td
      (2)
    %td
      = t "tos.data_security.p2"
  %tr
    %td
      (3)
    %td
      = t "tos.data_security.p3"
%table
  %tr.underlined
    %td
      %h4
        3.
    %td
      %h4
        = t "tos.privacy.header"
  %tr
    %td
      (1)
    %td
      = t "tos.privacy.p1"
  %tr
    %td
      (2)
    %td
      = t "tos.privacy.p2"
%table
  %tr.underlined
    %td
      %h4
        4.
    %td
      %h4
        = t "tos.HAFTUNG.header"
  %tr
    %td
      (1)
    %td
      = t "tos.HAFTUNG.p1"
  %tr
    %td
      (2)
    %td
      = t "tos.HAFTUNG.p2"
  %tr
    %td
      (3)
    %td
      = t "tos.HAFTUNG.p3"
  %tr
    %td
      (4)
    %td
      = t "tos.HAFTUNG.p4"
  %tr
    %td
      (5)
    %td
      = t "tos.HAFTUNG.p5"
  %tr
    %td
      (6)
    %td
      = t "tos.HAFTUNG.p6"
%table
  %tr.underlined
    %td
      %h4
        5.
    %td
      %h4
        = t "tos.FINALLY.header"
  %tr
    %td
      (1)
    %td
      = t "tos.FINALLY.p1"
  %tr
    %td
      (2)
    %td
      = t "tos.FINALLY.p2"
  %tr
    %td
      (3)
    %td
      = t "tos.FINALLY.p3"
  %tr
    %td
      (4)
    %td
      = t "tos.FINALLY.p4"
  %tr
    %td
      (5)
    %td
      = t "tos.FINALLY.p5"


= link_to t("tos.accept"), webgrouper_patient_cases_path, :class => "button"