= stylesheet_link_tag 'help'
.header
%h3
  = t "tos.heading"
%h4
  = t "tos.date"
%hr
.important
  %h3
    = t "tos.accept_tos"
    %h4
      = t "tos.confirm_read"
%p.spacer
%table
  = render :partial => "tos/tos_contents"
  %tr.underlined
    %td
      %h3
        = t "tos.preamble"
  = yield :preamble
  %p.spacer
%table
  %tr.underlined
    %td
      %h3
        1.
    %td
      %h3
        = t "tos.group_right"
  = yield :group_right
%table
  %tr.underlined
    %td
      %h3
        2.
    %td
      %h3
        = t "tos.data_security"
  = yield :data_security
%table
  %tr.underlined
    %td
      %h3
        3.
    %td
      %h3
        = t "tos.privacy"
  = yield :privacy
%table
  %tr.underlined
    %td
      %h3
        4.
    %td
      %h3
        = t "tos.responsibility"
  = yield :responsibility
%table
  %tr.underlined
    %td
      %h3
        5.
    %td
      %h3
        = t "tos.terminatory"
    = yield :terminatory


= link_to t("tos.accept"), webgrouper_patient_cases_path, :class => "button"