.headline
  = link_to t('help.back'), webgrouper_patient_cases_url, :class => "button", :id => 'back-button'
%hr
= render :partial => 'help/help_contents'
#accordion
  %h3
    = link_to t("fieldsets.system") + ": ", '#'
  %div
    = yield :system
  %h3
    = link_to t("fieldsets.stay") + ": ", '#' 
  %div
    = yield :stay
  %h3
    = link_to t("fieldsets.patient_data") + ": ", '#'
  %div
    = yield :patient_data
  %h3
    = link_to t("simple_form.labels.defaults.pdx"), '#'
  %div
    = yield :pdx
  %h3
    = link_to t( "simple_form.labels.defaults.diagnoses"), '#'
  %div
    = yield :diagnoses
  %h3
    = link_to t("simple_form.labels.defaults.procedures"), '#'
  %div
    = yield :procedures
  %h3
    = link_to t("help.other"), '#'
  %div
    = yield :other
.bottom-spacer