- content_for :header do
  = javascript_include_tag 'batchgrouper_query'
- content_for :title, 'Batchgrouper'
= simple_form_for @batchgrouper_query, :url => batchgrouper_queries_path do |f|
  - if flash[:error]
    .errorflash
      = flash[:error].html_safe
  = render 'batchgrouper_queries/hint_documentation'
  = render "shared/system", :f => f, :current_system => @batchgrouper_query.system, :house => @batchgrouper_query.house
  %fieldset
    %legend Data
    .span-18
      = f.input :input
    .span-5.last
      = link_to t('simple_form.labels.batchgrouper_query.single_group'), parse_webgrouper_patient_cases_path
  #loading
    = t "batchgrouper.loading_hint"
    #loading-bar
  .right
    = f.submit :class => "button positive"