%fieldset#result-diagnoses.result
  %legend= t "result.diagnoses.legend"
  %table
    %tbody
      %tr
        %th.small-col
          = t("result.diagnoses.code")
        %th
          = t("result.diagnoses.name")
        %th.medium-col
          = t("result.diagnoses.valid")
        %th.small-col
          = t("result.diagnoses.used")
        %th.small-col
          = t("result.diagnoses.CCL")
      %tr#pdx
        %td
          = link_to_online_definition_manual(@webgrouper_patient_case.pdx, :icd_codes, @webgrouper_patient_case.system_id)
        %td
          = Icd.get_description_for(@webgrouper_patient_case.system_id, @webgrouper_patient_case.pdx)
        %td
          = t("result.diagnoses.diagnosis_flag.valid." + @result.pdx_diagnosis_flag.valid.to_s)
        %td
          = t("result.diagnoses.diagnosis_flag.used." + @result.pdx_diagnosis_flag.used.to_s + "_string")
        %td
          = @result.pdx_diagnosis_flag.ccl
      - @webgrouper_patient_case.diagnoses.each_with_index do |diag, counter|
        %tr
          %td
            = link_to_online_definition_manual(diag, :icd_codes, @webgrouper_patient_case.system_id)
          %td
            = Icd.get_description_for(@webgrouper_patient_case.system_id, diag)
          %td
            = t("result.diagnoses.diagnosis_flag.valid." + @result.diagnoses_flags[counter].valid.to_s)
          %td
            = t("result.diagnoses.diagnosis_flag.used." + @result.diagnoses_flags[counter].used.to_s + "_string")
          %td
            = @result.diagnoses_flags[counter].ccl