%fieldset#grouping.result.left
  %legend= t "result.grouping.legend"
  %table
    %tbody
      %tr
        %th
          MDC
        %td
          = @result.mdc
        %td    
      %tr
        %th
          DRG
        %td
          = link_to @result.drg, "http://webapps.swissdrg.org:8081/drgs/name?code=" + @result.drg
        %td
          = Drg.get_description_for(@webgrouper_patient_case.system_id, @result.drg)
      %tr
        %th
          PCCL
        %td
          = @result.pccl
        %td
          
      %tr
        %th
          = t("result.grouping.grouperstatus")
        %td
          = @result.gst.ordinal
        %td
          = t("result.grouping.grouperstatus_modes." + @result.gst.to_s)