%fieldset#length-of-stay.result.left
  %legend= t "result.length-of-stay.legend"
  %table
    %tbody
      %tr
        %th
          = t("result.length-of-stay.length-of-stay")
        %td
          = @webgrouper_patient_case.los
      %tr
        %th
          = t("result.length-of-stay.average_los")
        %td
          = @weighting_relation.avg_duration.to_f/@factor
      %tr
        %th
          = t("result.length-of-stay.first-day-with-discount")
        %td
          = @weighting_relation.first_day_discount
      %tr
        %th
          = t("result.length-of-stay.first-day-with-surcharge")
        %td
          = @weighting_relation.first_day_surcharge
      %tr
        %th
          = t("result.length-of-stay.low_trim_point")
        %td
          = @weighting_relation.first_day_discount + 1
      %tr
        %th
          = t("result.length-of-stay.high_trim_point")
        %td
          = @weighting_relation.first_day_surcharge - 1
      %tr.highlight
        %th{:colspan => 2}
          = t("result.length-of-stay.case_flag_modes." + @cost_weight.case_flag.to_s)