#result
.on-row
  = render "result/grouping"
  = render "result/cost_weight"
= render "result/diagnoses"
= render "result/procedures"
.on-row
  = render "result/length_of_stay"
  = render "result/los_chart"