#result
.on-row
  = render "result/grouping"
  - if @normal_group
    = render "result/cost_weight"
- if @normal_group
  = render "result/diagnoses"
  = render "result/procedures"
  = render "result/settlement_hints"
  .on-row
    = render "result/length_of_stay"
    = render "result/los_chart"
#bottom
