%fieldset#procedures.result
  %legend= t "result.procedures.legend"
  %table
    %tbody
      %tr
        %th.small-col
          = t("result.diagnoses.code")
        %th
          = t("result.diagnoses.name")
        %th.medium-col
          = t("result.diagnoses.valid")
        %th.medium-col
          = t("result.diagnoses.used")
        %th.medium-col
          = t("result.procedures.or-nor")
      - counter = 0
      - @webgrouper_patient_case.procedures.each do |proc|
        - proc_code = proc.split(":")[0]
        %tr
          %td
            = proc_code
          %td
            = CHOP.get_description_for(proc_code)
          %td
            = t("result.procedures.procedure_flag.valid." + @result.procedures_flags[counter].valid.to_s)
          %td
            = t("result.procedures.procedure_flag.used." + @result.procedures_flags[counter].used.to_s)
          %td
            = t("result.procedures.procedure_flag.or-nor." + @result.procedures_flags[counter].por.to_s)
        - counter = counter + 1