%fieldset#settlement_hints.result
  %legend= t "result.settlement_hints.legend"
  %table
    %tbody
      %tr
        %th
          - if @supplement_procedures.empty?
            = t("result.settlement_hints.no_additional_fees")
          - else
            = t("result.settlement_hints.additional_fees")
      - @supplement_procedures.each do |ops_code, amount|
        - fee = SupplementOps.find_by_ops(ops_code).fee
        - description = Supplement.find_by_fee(fee).description
        %tr
          %td
            %strong
              = fee + ": "
            = description
            = " (" + ops_code + ")"
      - if DRG.reuptake_exception_for?(@result.drg)
        %tr
          %th
            = t("result.settlement_hints.reuptake_hint")