%fieldset#settlement_hints.result
  %legend= t "result.settlement_hints.legend"
  %table
    %tbody
      %tr
        %th
          - if @supplement_procedures.empty?
            = t("result.settlement_hints.no_additional_fees")
          - else
            = t("result.settlement_hints.additional_fees")
            %th
              = t("result.settlement_hints.count")
      - @supplement_procedures.each do |ops_code, data|
        - fee = data[:fee]
        - description = data[:description]
        - count = data[:proc_count]
        %tr
          %td
            %strong
              = fee + ": "
            = description
            = " (" + ops_code + ") "
          %td
            = count.to_s
      - if DRG.reuptake_exception?(@webgrouper_patient_case.system_id, @result.drg)
        %tr
          %th
            = t("result.settlement_hints.reuptake_hint", :drg => @result.drg)
