= content_for :header do
  = javascript_include_tag 'https://www.google.com/jsapi'

%h2 Stats!
%p
  = form_tag do
    = label_tag :last_n_months, 'Over the last n months, n ='
    = number_field_tag :last_n_months,  params[:last_n_months]
    = label_tag :binned, 'Make bins for batchgrouper queries'
    = check_box_tag :binned, '1', params[:binned]

%h3 Webgrouper
In the given period, there were
= @queries.count
webgrouper queries.
#system_chart
= render_chart @system_chart, 'system_chart'

#house_chart
= render_chart @house_chart, 'house_chart'

%h3 Batchgrouper
In the given period, there were
= @bg_queries.count
batchgrouper queries.

#bg_system_chart
= render_chart @bg_system_chart, 'bg_system_chart'

#bg_house_chart
= render_chart @bg_house_chart, 'bg_house_chart'

#bg_size_chart
= render_chart @bg_size_chart, 'bg_size_chart'
