= content_for :header do
  = javascript_include_tag 'https://www.google.com/jsapi'

%h2 Stats!

= form_tag do
  = label_tag :last_n_months, 'Over the last n months, n ='
  = number_field_tag :last_n_months,  params[:last_n_months]
In the given period, there were
= @queries.count
queries.
#system_chart
= render_chart @system_chart, 'system_chart'

#house_chart
= render_chart @house_chart, 'house_chart'