- field_counter = 0
- no_rows =  kind == "diagnoses" ? 19 : 33
- (no_rows).times do |row_counter|
  .field_row{:id => "#{kind}_row_#{row_counter}", :style => row_counter > 0 ? "display:none" : "display:block"}
    = label_tag t kind
    = render "shared/#{kind}_row", :kind => kind, :field_counter => field_counter, :patient_case => patient_case
    - field_counter += kind == "diagnoses" ? 5 : 3
      
    %span.row_field_buttons{:id => "#{kind}_row_field_buttons_#{row_counter}"}
      = link_to image_tag("bullet_toggle_plus.png"), "javascript:showFields(#{row_counter}, '#{kind}')" unless row_counter >= (no_rows)-1
      = link_to image_tag("bullet_toggle_minus.png"), "javascript:hideFields(#{row_counter}, '#{kind}')" unless row_counter < 1