/ - procedures = procedure_values field_counter
- 3.times do |j|
  = text_field_tag = text_field_tag "webgrouper_patient_case[procedures][#{field_counter}][1]", "", :size => 6
  = text_field_tag = text_field_tag "webgrouper_patient_case[procedures][#{field_counter}][2]", "", :size => 4
  = text_field_tag = text_field_tag "webgrouper_patient_case[procedures][#{field_counter}][3]", "", :size => 6
  - field_counter = field_counter + 1
  %span.spacer