%fieldset#grouping.result.left
  %legend= t "result.grouping"
  %table
    %tbody
      %tr
        %th
          MDC:
        %td
          = @result.get_mdc
        %td
          
      %tr
        %th
          DRG:
        %td
          = @result.get_drg
        %td
          = (DRG.find_by_DrCode @result.get_drg).DrName
      %tr
        %th
          PCCL:
        %td
          = @result.get_pccl
        %td
          
      %tr
        %th
          = t("result.grouperstatus") + ":"
        %td
          = @result.get_gst.ordinal
        %td
          = t("result.grouperstatus_modes." + @result.get_gst.to_s)

%fieldset#cost-weight.result.left
  %legend= t "result.cost-weight"
  %table
    %tbody
      %tr
        %th
          Baserate:
        %td
          = @base_cost_weight
        %td
          
      %tr
        %th
          Effective cost weight:
        %td
          = @cost_weight.get_effective_cost_weight.to_f/@factor
        %td
          = @cost_weight.get_case_flag
          
%fieldset#length-of-stay.result.left
  %legend= t "result.length-of-stay"
  %table
    %tbody
      TODO: get los data

          
%fieldset#diagnoses.result.left
  %legend= t "result.diagnoses"
  %table
    %tbody
      TODO: get diagnoses
      
%fieldset#procedures.result.left
  %legend= t "result.procedures"
  %table
    %tbody
      TODO: get procedures