%h2 Gruppierung
%fieldset
  %table
    %tbody
      %tr
        %th
          MDC:
        %td
          = @result.getMdc
        %td
          {DATABASE_LOOKUP}
      %tr
        %th
          DRG:
        %td
          = @result.getDrg
        %td
          {DATABASE_LOOKUP}
      %tr
        %th
          PCCL:
        %td
          = @result.getPccl
        %td
          Complication and Comorbidity level of this case. (0-4)
      %tr
        %th
          = t("result.grouperstatus") + ":"
        %td
          = @result.getGst.ordinal
        %td
          = t("result.grouperstatus_modes." + @result.getGst.to_s)
