%fieldset#result
  %legend
    Resultat
  %table
    %tbody
      %tr
        %th
          MDC:
        %td
          = @result.getMdc
        %td
          
      %tr
        %th
          DRG:
        %td
          = @result.getDrg
        %td
          = (DRG.find_by_DrCode @result.getDrg).DrName
      %tr
        %th
          PCCL:
        %td
          = @result.getPccl
        %td
          
      %tr
        %th
          = t("result.grouperstatus") + ":"
        %td
          = @result.getGst.ordinal
        %td
          = t("result.grouperstatus_modes." + @result.getGst.to_s)
