- current_system = System.where(:system_id => system_id).first
- if session[:beta]
  - shown_systems = System.all.reverse
- else
  - shown_systems = System.all_public.reverse

%fieldset#system
  %legend= t("fieldsets.system")
  .sameline
    = f.input :system_id, 
              :as => :select,
              :collection => shown_systems,
              :label_method => lambda { |el| el.description },
              :value_method => lambda { |el| el.system_id },
              :include_blank => false
    .small_field
      = f.label :procedures_catalog
      = text_field_tag :procedures_catalog, current_system.chop_version, :disabled => true
  .sameline
    - selected = house || 1
    = f.input :house, 
              :as => :select, 
              :collection => [1,2],
              :selected => selected,
              :label_method => lambda { |el| t "simple_form.options.webgrouper_patient_case.house.house#{el.to_s}" }
  .small_field
    = f.label :diagnoses_catalog
    = text_field_tag :diagnoses_catalog, current_system.icd_version, :disabled => true
  - manual_url = System.where(:system_id => system_id).first.manual_url
  - unless manual_url.blank?
    = f.label "  "
    = link_to t("online_definition_manual_for") + " #{current_system.description}", manual_url, :class => "button"
