- current_system = System.where(:system_id => system_id).first

%fieldset#system
  %legend= t("fieldsets.system")
  .sameline
    = f.input :system_id, 
              :as => :select,
              :collection => shown_systems,
              :label_method => lambda { |el| el.description },
              :value_method => lambda { |el| el.system_id },
              :include_blank => false
    .small_field
      = f.input :procedures_catalog, :input_html => {:value => current_system.chop_version }, :disabled => true
  .sameline
    - selected = house || 1
    = f.input :house, 
              :as => :select, 
              :collection => [1,2],
              :selected => selected,
              :label_method => lambda { |el| t "simple_form.options.webgrouper_patient_case.house.house#{el.to_s}" }
  .small_field
    = f.input :diagnoses_catalog, :input_html => { :value =>  current_system.icd_version }, :disabled => true
  - unless current_system.manual_url.blank?
    %label{:class => 'simple_form'}
    = link_to t("online_definition_manual_for") + " #{current_system.description}", current_system.manual_url, :class => "button"



