%fieldset#result-diagnoses.result.clear
  %legend= t "result.diagnoses.legend"
  %table
    %tbody
      %tr
        %th.small-col
          = t("result.diagnoses.code")
        %th
          = t("result.diagnoses.name")
        %th.medium-col
          = t("result.diagnoses.valid")
        %th.small-col
          = t("result.diagnoses.used")
        %th.small-col
          = t("result.diagnoses.CCL")
      %tr#pdx
        %td
          = link_to_online_definition_manual(@webgrouper_patient_case.pdx, :icd_codes, @webgrouper_patient_case.system)
        %td
          = @webgrouper_patient_case.icds[0].text
        %td
          = t("result.diagnoses.diagnosis_flag.valid." + @pc.pdx.valid.to_s)
        %td
          = t("result.diagnoses.diagnosis_flag.used." + @pc.pdx.used.to_s)
        %td
          = @pc.pdx.ccl
      - @webgrouper_patient_case.icds[1..-1].zip(@pc.diagnoses).each do |icd, d|
        %tr
          %td
            = link_to_online_definition_manual(icd.code, :icd_codes, @webgrouper_patient_case.system)
          %td
            = icd.text
          %td
            = t("result.diagnoses.diagnosis_flag.valid." + d.valid.to_s)
          %td
            = t("result.diagnoses.diagnosis_flag.used." + d.used.to_s)
          %td
            = d.ccl