%fieldset#grouping.result.left
  %legend= t "result.grouping.legend"
  %table
    %tbody
      %tr
        %th
          MDC
        %td
          = link_to_online_definition_manual(@result.mdc, :mdcs, @webgrouper_patient_case.system)
        %td
          = @webgrouper_patient_case.system.mdcs.find_by(code: @result.mdc).text
      %tr
        %th
          DRG
        %td
          = link_to_online_definition_manual(@result.drg, :drgs, @webgrouper_patient_case.system)
        %td
          = @webgrouper_patient_case.drg.text
      %tr
        %th
          PCCL
        %td
          = @result.pccl
        %td
      %tr
        %th
          = t("result.grouping.grouperstatus")
        %td
          = @result.gst.ordinal
        %td
          = t("result.grouping.grouperstatus_modes." + @result.gst.to_s)