%fieldset#length-of-stay.result.left
  %legend= t "result.length-of-stay.legend"
  %table
    %tbody
      %tr
        %th
          = t("result.length-of-stay.length-of-stay") + " (#{I18n.t('result.length-of-stay.length-of-stay-short')})"
        %td
          = @webgrouper_patient_case.los
      %tr
        %th
          = t("result.length-of-stay.average_los") + " (Ø)"
        %td
          = @weighting_relation.avg_duration.to_f/@factor
      %tr
        %th
          = t("result.length-of-stay.first-day-with-discount")
        %td
          - if @weighting_relation.has_first_day_discount?
            = @weighting_relation.first_day_discount
          - else
            \-
      %tr
        %th
          = t("result.length-of-stay.first-day-with-surcharge")
        %td
          - if @weighting_relation.has_first_day_surcharge?
            = @weighting_relation.first_day_surcharge
          - else
            \-
      %tr
        %th
          = t("result.length-of-stay.low_trim_point")
        %td
          - if @weighting_relation.has_first_day_discount?
            = @weighting_relation.first_day_discount + 1
          - else
            \-
      %tr
        %th
          = t("result.length-of-stay.high_trim_point")
        %td
          - if @weighting_relation.has_first_day_surcharge?
            = @weighting_relation.first_day_surcharge - 1
          - else
            \-
      %tr.highlight
        %th{:colspan => 2}
          = t("result.length-of-stay.case_flag_modes." + @cost_weight.case_flag.to_s)