#result
.on-row
  = render "webgrouper_patient_cases/result/grouping"
  - if normal_group?
    = render "webgrouper_patient_cases/result/cost_weight"
- if normal_group?
  = render "webgrouper_patient_cases/result/diagnoses"
  = render "webgrouper_patient_cases/result/procedures"
  = render "webgrouper_patient_cases/result/settlement_hints"
  .on-row
    = render "webgrouper_patient_cases/result/length_of_stay"
    = render "webgrouper_patient_cases/result/los_chart"
#bottom
