%fieldset#result-procedures.result
  %legend= t "result.procedures.legend"
  %table
    %tbody
      %tr
        %th.small-col
          = t("result.diagnoses.code")
        %th
          = t("result.diagnoses.name")
        %th.medium-col
          = t("result.diagnoses.valid")
        %th.medium-col
          = t("result.diagnoses.used")
        %th.medium-col
          = t("result.procedures.or-nor")
      - @webgrouper_patient_case.chops.zip(@pc.procedures).each do |chop, p|
        %tr
          %td
            = link_to_online_definition_manual(chop.code, :chop_codes, @webgrouper_patient_case.system)
          %td
            = chop.text
          %td
            = t("result.procedures.procedure_flag.valid." + p.valid.to_s)
          %td
            = t("result.procedures.procedure_flag.used." + p.used.to_s)
          %td
            = t("result.procedures.procedure_flag.or-nor." + p.type.to_s)