%fieldset#settlement_hints.result
  - has_supplement_constraints = @supplement_procedures.reject { |s| s[:age_max].blank? }.any?
  %legend= t "result.settlement_hints.legend"
  %table
    %tbody
      %tr
        %th
          - if @supplement_procedures.empty?
            = t("result.settlement_hints.no_additional_fees")
          - else
            = t("result.settlement_hints.additional_fees")
            %th
              = t("result.settlement_hints.count")
            - if has_supplement_constraints
              %th
                = t('result.settlement_hints.constraints') + '*'
      - @supplement_procedures.each do |data|
        %tr
          %td
            %strong
              = data[:fee] + ": "
            = data[:description]
            = " (" + data[:chop_code] + ") "
          %td
            = data[:proc_count].to_s
          - if data[:age_max]
            %td
              = t('result.settlement_hints.age_constraint', age: data[:age_max])
      - if @webgrouper_patient_case.drg.exception_from_reuptake?
        %tr
          %th
            = t("result.settlement_hints.reuptake_hint", :drg => @result.drg)
  - if has_supplement_constraints
    %hr
    %p
      = '*) ' + t('result.settlement_hints.constraint_reminder')