%h1 Webgrouper


= render "shared/error_messages", :webgrouper_patient_case => @webgrouper_patient_case

= simple_form_for :webgrouper_patient_case do |f|
  = f.input :sex, :label => "#{t_label 'sex'}", :collection => %w(M W U), :checked => "U", :include_blank => false
  = f.input :age, :label => "#{t_label 'age'}"
  = f.input :age_mode, :label => "#{t_label 'age_mode'}", :as => :select, :collection => %w(years days), :include_blank => false
  = f.input :entry_date, :label => "#{t_label 'entry_date'}"
  = f.input :exit_date, :label => "#{t_label 'exit_date'}"
  = f.input :birth_date, :label => "#{t_label 'birth_date'}"
  = f.input :leave_days, :label => "#{t_label 'leave_days'}"
  = f.input :adm_weight, :label => "#{t_label 'adm_weight'}"
  = f.input :adm, :label => "#{t_label 'adm'}"
  = f.input :sep, :label => "#{t_label 'sep'}"
  = f.input :los, :label => "#{t_label 'los'}"
  = f.input :sdf, :label => "#{t_label 'sdf'}"
  = f.input :hmv, :label => "#{t_label 'hmv'}"
  = f.input :pdx, :label => "#{t_label 'pdx'}"
  = f.input :diagnoses, :label => "#{t_label 'diagnoses'}"
  = f.input :procedures, :label => "#{t_label 'procedures'}"
  = f.submit "Gruppieren"
  
%h2 Gruppierung
%p= @result