= simple_form_for @batchgrouper, :url => "batchgrouper" do |f|
  - if flash[:error]
    .errorflash
      = flash[:error].html_safe
  = render 'batchgroupers/hint_documentation'
  = render "shared/system", :f => f, :system_id => @batchgrouper.system_id, :house => @batchgrouper.house
  %fieldset
    %legend Data
    = f.input :file, :as => :file
    = f.input :single_group
    - if @single_group_result
      #single_group_result
        = @single_group_result
  #loading
    = t "batchgrouper.loading_hint"
    #loading-bar
  .right
    = f.submit :class => "button positive"