= simple_form_for @batchgrouper, :url => "batchgrouper" do |f|
  - if @error
    .errorflash
      = @error
  = render "shared/system", :f => f, :system_id => @batchgrouper.system_id, :house => @batchgrouper.house
  %fieldset
    %legend Data
    = f.input :file, :as => :file
    = f.input :single_group
    - if @single_group_result
      #single_group_result
        = @single_group_result
  #loading
  .right
    = f.submit :class => "button positive"