.header
  %h1 
    = link_to @title, root_path
  .locales
    %ol
      %li
        = link_to_language_change "Deutsch", :de
      %li
        = link_to_language_change "Français", :fr
      %li
        = link_to_language_change "Italiano", :it
      %li
        = link_to_language_change "English", :en
  = link_to image_tag("swiss_drg_short.gif"), 'http://www.swissdrg.org/', :class => 'logo', :target => :blank
