/[if lt IE 9]
  %script{:type => "text/javascript", :src => "http://html5.shiv.googlecode.com/svn/trunk/html5.js"}
= stylesheet_link_tag 'blueprint/screen', :media => 'screen'
= stylesheet_link_tag 'blueprint/print', :media => 'print'
= stylesheet_link_tag 'blueprint/plugins/buttons/screen'
= stylesheet_link_tag 'jquery-ui-1.8.20.custom'
= stylesheet_link_tag 'datepicker'
= stylesheet_link_tag 'webgrouper_patient_cases'
= stylesheet_link_tag 'simple_form'
= stylesheet_link_tag 'help'
= stylesheet_link_tag 'tos'
/[if lt IE 8]
  = stylesheet_link_tag 'blueprint/ie'