!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{ :charset => "UTF-8" }
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    / Used for localisation in JS
    :javascript
      var locale = "#{ I18n.locale }";
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = javascript_include_tag 'http://www.google.com/jsapi'
    = csrf_meta_tags
    %title Webgrouper
  %body
    .container
      = render 'layouts/header'
      = yield
      = render 'layouts/footer' 
      / %fieldset#debug
      /        %legend Debug
      /        = debug(params) if Rails.env.development?
     