!!! 5
- @title ||= 'Webgrouper'
- if session[:beta]
  - @title += " BETA"
%html{:lang => I18n.locale}
  %head
    %meta{ :charset => "UTF-8" }
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    = content_for :header
    / Used for localisation in JS
    :javascript
      var locale = "#{I18n.locale}";
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    / google analytics code
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21472344-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = csrf_meta_tags
    %title 
      = @title
  %body
    .container
      = render 'layouts/header', :title => @title
      = yield
      = render 'layouts/footer'